@font-face {
    font-family: 'bu Gothic Hybrid';
    src: url('buGothicHybrid.woff2') format('woff2'),
        url('buGothicHybrid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

